<h1><strong>Cadastrar emergencia</h1></strong>

<%= simple_form_for @appointment, url: clinic_emergencies_path(@clinic) do |f| %>
  <div class="container emergencia d-flex justify-content-center">
    <div class="row emergencia col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="emergencias">
        <div class="row">
          <div class="col-md-6 areas">
            <%= f.input :body_area, as: :check_boxes, collection: ['1. Cabeça', '2. Pescoço', '3. Ombros', '4. Costas', '5. Abdômen', '6. Pernas', '7. Pés', '8. Braços'],
                        label: "Quais áreas do corpo estão tendo sintomas?" %>
          </div>
          <div class="corpo">
            <%= image_tag "corpo.png", alt: "Corpo humano", class: "body-image" %>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="container emergencia d-flex justify-content-center">
    <div class="row emergencia col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="col-md-12">
        <%= f.input :pain_scale, as: :radio_buttons, collection: (1..10).to_a,
                    label: "Qual é a sua escala de dor (de 1 a 10)?" %>
      </div>
    </div>
  </div>
  <div class="container emergencia d-flex justify-content-center">
    <div class="row emergencia col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="col-md-12">
        <%= f.input :additional_information, as: :text,
                    label: "Mais informações:", input_html: { rows: 3 } %>
      </div>
    </div>
  </div>
      <%= f.submit "Create emergency", class: "btn btn-primary" %>
  </div>
<% end %>
<style>
.body-image {
  max-width: 100%;
  height: auto;
}
</style>
