<link rel="stylesheet" href="pages/_home.scss">

<div class="container">
  <div class="home-cards-top" style="min-height: 300px;">
    <div class="card-emergency d-flex align-items-center">
      <div class="my-auto mx-3">
        <%= link_to clinics_path, style: "text-decoration: none" do %>
          <h3 class="card-title"><strong>Emergência</strong></h3>
        <% end %>
        <h5 class="card-text">Se você apresenta risco de vida, lesões, crises, faturas, hemorragias, convulsões, falta de ar ou outros, peça ajuda.</h5>
      </div>
    </div>

    <div class="card-position d-flex flex-column align-items-center">
        <div class="my-auto mx-3">
          <h3 class="card-title"><strong>Tempo até Atendimento: </strong></h3>
          <p><%= ((Appointment.next(current_user).time - Time.current)/60).round(0) %> minutos</p>
        </div>
    </div>
  </div>

    <div class="row my-3">
      <div class="col-12">
        <div class="next-appointments d-flex flex-column align-items-center">
          <div class="my-auto mx-3">
            <% if Appointment.next(current_user).blank? %>
              <h2><strong> Não tem agendamento no momento </strong></h2>
            <% else %>
              <h3 class="white-text"><strong>Próximo agendamento</strong></h3>
              <time>
                <h3 class="date_time">
                  <%= l Appointment.next(current_user).time, format: "%d/%m/%y %H:%M" %>
                </h3>
              </time>
            <% end  %>
          </div>
       </div>
      </div>
    </div>

  <div class="home-cards">
    <div class="card-new-appointments home-card d-flex flex-column align-items-center">
      <div class="my-auto mx-3">
          <%= link_to new_appointment_path, style: "text-decoration: none" do %>
            <h5 class="card-title"><strong>Agendar Consulta</strong></h5>
          <% end %>
      </div>
    </div>


    <div class="card-my-appointments home-card d-flex flex-column align-items-center">
      <div class="my-auto mx-3">
        <%= link_to my_appointments_appointments_path, style: "text-decoration: none" do %>
          <h5 class="card-title"><strong>Meus Agendamentos</strong></h5>
        <% end %>
      </div>
    </div>

    <div class="card-history home-card d-flex flex-column align-items-center">
      <div class="my-auto mx-3">
        <%= link_to history_appointments_path, style: "text-decoration: none"  do %>
          <h5 class="card-title"><strong>Histórico de Atendimento</strong></h5>
        <% end %>
      </div>
    </div>

    <div class="card-edit-account home-card d-flex flex-column align-items-center">
      <div class="my-auto mx-3">
        <%= link_to edit_user_registration_path, style: "text-decoration: none" do %>
          <h5 class="card-title"><strong>Atualizar Meus Dados</strong></h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
