
<div class="home-grid">
  <div class="home-emergency">
    <%= link_to "#" do %>
      <p>Emergência</p>
    <% end %>
  </div>

  <div class="home-position">
    <p>Posição na fila</p>
  </div>
</div>

<div>
  <p>Próximo agendamento</p>
</div>

<div>
  <%= link_to new_appointment_path do %>
    <p>Agendar Consulta</p>
  <% end %>

  <%= link_to my_appointments_appointments_path do %>
    <p>Meus Agendamentos</p>
  <% end %>

  <%= link_to history_appointments_path do %>
    <p>Histórico de Atendimento</p>
  <% end %>

  <%= link_to edit_user_registration_path do %>
    <p>Atualizar Meus Dados</p>
  <% end %>

</div>
