<div class="button">
  <%= link_to "Voltar", home_path, style: "padding: 12.5px 30px; border: 0; border-radius: 100px; background-color: #64B6AC; color: #ffffff; font-weight: bold; transition: all 0.5s; -webkit-transition: all 0.5s; text-decoration: none;" %>
</div>
<div class="container meus-agendamentos d-flex justify-content-center">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="texto">
      <h1><strong>Histórico de Atendimentos</h1></strong>
    </div>
    <div class="card home-history">
      <% Appointment.history(current_user).each do |appointment| %>
        <ul class="my_appointments">
          <p>
            <strong>Data:</strong> <%= l appointment.time, format: "%d/%m/%y %H:%M" %></p>
          <% if appointment.emergency %>
            <strong>Emergência - Médico do plantão</strong>
          <% else %>
            <strong>Consulta:</strong> <%=  appointment.doctor.specialty %> - Médico: <%=  appointment.doctor.name %>
          <% end %>
            <strong>Clinica:</strong> <%=  appointment.clinic.name %></p>
        </p></ul>
      <% end %>
    </div>
  </div>
</div>
