<div class="container meus-agendamentos d-flex justify-content-center">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="texto">
      <h1><strong> Meus Agendamentos </h1></strong>
    </div>
    <div class="card agendamentos">
      <% Appointment.upcoming(current_user).each do |appointment| %>
        <ul class="my_appointments">
        <p>
          <p><strong>Data:</strong> <%= l appointment.time, format: "%d/%m/%y - %H:%M" %></p>
          <% if appointment.emergency  %>
            <p><strong> Emergência </p></strong>
          <% end %>
          <% if appointment.doctor  %>
            <p><strong>Especialidade:</strong> <%=  appointment.doctor.specialty %> - Médico: <%=  appointment.doctor.name %> </p>
          <% else %>
            <p><strong>Médico:</strong> Plantão </p>
          <% end %>
          <p><strong>Clínica:</strong> <%=  appointment.clinic.name %></p>
          <p><strong>Endereço:</strong> <%=  appointment.clinic.address %></p>
        </p>
        </ul>
      <% end %>
    </div>
  </div>
</div>
