<div class="button">
  <%= link_to "Voltar", home_path, style: "padding: 12.5px 30px; border: 0; border-radius: 100px; background-color: #64B6AC; color: #ffffff; font-weight: bold; transition: all 0.5s; -webkit-transition: all 0.5s; text-decoration: none;" %>
</div>
<div class="container meus-agendamentos d-flex justify-content-center">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="texto">
      <h1><strong>Meus Agendamentos</strong></h1>
    </div>
    <div class="card agendamentos">
      <% Appointment.upcoming(current_user).each do |appointment| %>
        <ul class="my_appointments">
            <p>
              <strong>Data:</strong> <%= l appointment.time, format: "%d/%m/%y - %H:%M" %><br>
              <% if appointment.emergency  %>
                <strong>Emergência Médica</strong><br>
              <% end %>
              <% if appointment.doctor  %>
                <strong>Especialidade:</strong> <%= appointment.doctor.specialty %> <br><strong>Médico:</strong> <%= appointment.doctor.name %><br>
              <% end %>
              <strong>Clínica:</strong> <%= appointment.clinic.name.upcase %><br>
              <strong>Endereço:</strong> <%= appointment.clinic.address %><br>
            </p>
            <form action="<%= appointment_path(appointment) %>" method="post" style="display: flex; justify-content: flex-end;">
              <%= button_to "Cancelar", appointment, method: :delete, data: { confirm: 'Are you sure you want to cancel this appointment?' }, style: "padding: 6px 12px; border: 0; border-radius: 100px; background-color: #C23232; color: #ffffff; font-weight: bold; transition: all 0.5s; -webkit-transition: all 0.5s;" %>
            </form>
        </ul>
      <% end %>
    </div>
  </div>
</div>
