
<div class="container">
  <h1 class= "text-center">Meus agendamentos</h1>

  <div class="my-appointments">
      <% Appointment.upcoming(current_user).each do |appointment| %>
          <ul>
          <li><p>
            <p>Data: <%= l appointment.time, format: "%d/%m/%y %H:%M" %></p>
            <% if appointment.emergency  %>
              <p> Emergência </p>
            <% end %>
            <% if appointment.doctor  %>
              <p>Especialidade: <%=  appointment.doctor.specialty %> - Médico: <%=  appointment.doctor.name %> </p>
            <% else %>
              <p>Médico: Plantão </p>
            <% end %>
            <p>Clinica: <%=  appointment.clinic.name %></p>
            <p>Endereço: <%=  appointment.clinic.address %></p>
          </p></li>
          </ul>
        <% end %>
    </div>
</div>
